/*@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@import url(style.css);



*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:white;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body{
    height: 100%;
    font-family: "RobotoCondensed", sans-serif;
    font-size: 1rem;
    color:white;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.disabled-button{
    color: lightgray;
}
.visible-anchor{
    color: #bca51d;
    text-decoration: underline;
}
.active-item{
    border-bottom: 0.4em solid #FFCC66;
}
.fade-in{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    opacity: 1;
}
.fade-out{
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    opacity: 0;
}