footer {
    padding: 1em;
    font-family: "Arial", sans-serif;
    color: white;
    background-image: url("../static/bg-footer-bar.png");
}
footer  section:first-child span{
    padding: 0 1em 0 1em;
}
footer .footer-icons{
    text-align: right;
}
footer section:last-child span{
    font-size: 24px;
}
footer section:last-child span:first-child{
    padding-right: 0.5em;
}
