.video{
    position: relative;
}
.video video{
    width: 100%;
    height: 600px;
}
.video-background{
    width: 100%;
    height: 250px;
    padding: 0;
    background: url('../static/morskie-oko-panorama-duza.png') no-repeat center center;
    background-size: cover;
}
.video-entrance{
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
    background-image: url('../static/bg-apla-text.png');
    -webkit-box-shadow: 0 -20px 20px -20px #000000;
    -moz-box-shadow:0 -20px 20px -20px #000000;
    box-shadow: 0 -20px 20px -20px #000000;
}
.video button{
    background-color: inherit;
    border: none;
}
.video button > span{
    font-size: 6rem;
    color: #1f475c;
    opacity: 0.7;
    text-shadow: none;
}
.video-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.video-wrapper > span{
    display: block;
    text-align: center;
    font-size: 3.2rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px black;
}
.video-wrapper > span:last-child{
    font-size: 1.3rem;
}
.more{
    display: flex;
}
.more p{
    text-indent: 1em;
}
.more > section{
    padding: 4em;
    font-family: "Arial", sans-serif;
}
.more a{
    float: right;
}
.more .quote{
    font-size: 1.7rem;
    font-family: "RobotoCondensed", sans-serif;
    font-style: italic;
}
.more .quote > p{
    text-indent: 0;
}
.more .quote span:last-child{
    font-size: 1rem;
    font-family: "RobotoCondensed", sans-serif;
    font-style: normal;
    display: block;
    float: right;
}
.more section:first-child{
    background-image: url("../static/bg-news copy.png");
}
.more section:last-child{
    background-image: url("../static/bg-news.png")
}
.more .news-title{
    margin-top: 0;
    margin-bottom: 1em;
}
.more .news-subtitle{
    margin-top: 0;
}

.photo{
    padding: 0;
}
.photo .row > div{
    padding: 0;
}
.photo div[class^='photo']{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.photo1{
    background: url("../static/bg-photo.png");
    position: relative;
    z-index: 0;
}
.photo-desc{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgba(188, 165, 29, 0.8);
}
.photo-desc > div{
    padding: 3em;
}
.photo-desc > div > *{
    display: block;
    text-align: center;
}
.photo-desc > div > p{
    font-size: 0.8rem;
    text-align: justify;
    text-justify: auto;
}
.photo-desc > div > span{
    font-size: 3rem;
}
.photo-desc > span{
    font-size: 2rem;
    display: block;
}
.photo-desc > span.mini{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body.desktop .photo-wrapper > div[class^='photo']:hover > .photo-desc {
    display: block;
}
.photo2{
    background: url("../static/bg-photo-f1m.png");
}
.photo3{
    background: url("../static/bg-photo-f1r.png");
}
.photo4{
    background: url("../static/bg-photo-f2l.png");
}
.photo5{
    background: url("../static/bg-photo-f2m.png");
}
.photo6{
    background: url("../static/bg-photo-f2r.png");
}
/*
.photo img{
    width: 100%;
    height: 100%;
}
*/
.slider{
    background-image: url("../static/bg-news copy.png");
}
.slider .row:first-child{
    display: flex;
}
.slider-dots{
    padding-bottom: 1.5em;
    text-align: center;
}
.slider-dots span{
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
}
.slider-dot{
    width: 1em;
    height: 1em;
    line-height: 1em;
    background: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.slider-dot-active{
    width: 1em;
    height: 1em;
    line-height: 1em;
    background: #FFCC66;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.attraction-col,
.attraction-col-arrow{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.attraction-col-arrow button{
    font-size: 3rem;
    border: none;
    background-color: inherit;
}

.attraction-wrapper{
    font-size: 1rem;
    padding: .5em;
    background-color: #00101c;
}
.attraction-wrapper p{
    text-indent: 1em;
    padding: 1em;
}
.attraction-wrapper a{
    display: block;
    text-align: end;
}
.attraction-arrow-wrapper{
    position: absolute;
    top: 50%;
}
.attraction-col-arrow:first-child > .attraction-arrow-wrapper{
    left: 100%;
    transform: translate(-100%, -50%);
}
.attraction-col-arrow:last-child .attraction-arrow-wrapper{
    left: 0;
    transform: translate(0, -50%);
}
figure[class^='attraction-image']{
    width: 100%;
    height: 100px;
    position: relative;
    background-size: cover;
}
.attraction-image1{
    background: url(../static/5225381281_2eb790ce2e_b.png) no-repeat center center;
}
.attraction-image2{
    background: url(../static/pojezierze_drawskie_4.png) no-repeat center center;
}
.attraction-image3{
    background: url(../static/5225381281_2eb790ce2e_b.png) no-repeat center center;
}

body.desktop .attraction-wrapper figure[class^='attraction-image']:hover > .photo-desc {
    display: block;
}

.map-section{
    height: 550px;
    position: relative;
}

.map-object{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.map-contact{
    padding: 2em;
    top: 2em;
    right: 2em;
    z-index: 10;
    position: absolute;
    background-image: url("../static/bg-contact.png");
}
.map-contact h1{
    margin-top: 0;
    margin-bottom: 1em;
}

.map-contact label{
    display: none;
}
.contact-content, .contact-form{
    font-size: 1rem;
    font-family: "Arial", sans-serif;;
}
.contact-content{
    padding: 0 2em 0 0;
}
.contact-content-phone span{
    display: block;
}
.contact-form{
    padding: 0;
    color: black;
}
.contact-form div{
    margin-bottom: 1em;
}
.contact-form input, textarea{
    width:100%;
    padding: 1em;
    border: solid .1em #fff;
    box-shadow: inset .1em .1em .2em 0 #707070;
    transition: box-shadow 0.3s;
}
.contact-form input{
    height: 3em;
}

.contact-form button{
    width: 50%;
    height: 3em;
    float: right;
    background-image: url("../static/btn-submit.png");
    border: none;
}
.validation-info{
    display: none;
    color: white;
    background-color: rgba(255, 0, 0, 0.2);
    border-bottom: 0.2em solid red;
}

/*Elementy ktore pojawiaja sie na eventy*/
#v{
    position:relative;
    z-index:100;
}
#video-film{
    opacity: 0;
    position: relative;
    z-index: 0;
    background-color: rgba(64, 122, 159, .5);
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
#overlay {
    visibility: hidden;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}
#overlay img{
    width: 80%;
    margin: 2em;
    box-shadow: 2em 2em 2em -2em #000000;
}
#map{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    html{font-size: 10px}
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
    h3 { font-size: 14px; }
    .nav-menu, .more, .photo
    {
        height: auto;
    }
    .nav-menu section{
        display: flex;
        justify-content: flex-start;
    }
    .more{
        display: block;
    }
    .photo div[class^='photo']{
        width: 100%;
        height: 200px;
    }
    .map-section{
        height: 430px;
    }

    .contact{
        width: 100%;
        height: auto;
        padding: 2em;
        background-image: url("../static/bg-contact.png");
    }
    .contact h1{
        margin-top: 0;
        margin-bottom: 1em;
    }

    .contact label{
        display: none;
    }
    .attraction-col{
        padding-left: .5em;
        padding-right: .5em;
    }
    .attraction-col-arrow:first-child{
        display: none;
    }
    .attraction-wrapper article > p{
        display: none;
    }
}

@media (min-width:769px)and (max-width: 992px) {
    .video section:first-child{
        height: 400px;
    }
    .photo div[class^='photo']{
        width: 100%;
        height: 300px;
    }
    figure[class^='attraction-image']{
        height: 150px;
    }
    .attraction-col-arrow:first-child{
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .video section:first-child{
        height: 500px;
    }
    .photo div[class^='photo']{
        width: 100%;
        height: 300px;
    }

}
@media (min-width: 1200px) {
    .video section:first-child{
        height: 600px;
    }
    .photo div[class^='photo']{
        width: 100%;
        height: 350px;
    }
    figure[class^='attraction-image']{
        height: 200px;
    }

}
