.nav-menu
{
    height: 6rem;
    color: white;
    background-image: url("../static/bg-navigation-bar.png");
}
.nav-menu section{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu figure
{
    font-size: 1.7rem;
}
.nav-menu nav
{
    height: 100%;
    font-size: 1.3rem;
}
.nav-menu nav > a
{
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 .6em 0 .6em;
}

.nav-menu .search-wrapper label
{
    display: none;
}
.nav-menu .search-wrapper{
    width: 100%;
    position: relative;

}
.nav-menu .search-wrapper input
{
    width: 100%;
    padding: 0.3em;
    font-size: 1.3rem;
    color: white;
    border: none;
    background-image: url("../static/input-search.png");
}
.nav-menu .icon-search{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 1.3rem;
}
.nav-menu .search-wrapper ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}