.top{
    padding: 0.5em;
    background-image: url("../static/bg-status-bar.png");
}
.top nav{
    padding: 0;
    text-align: right;
}
.top a{
    padding-right: 1em;
}
.top span+span{
    margin-left: 0.3em;
}