@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-qhmb38');
	src:url('fonts/icomoon.eot?#iefix-qhmb38') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-qhmb38') format('truetype'),
		url('fonts/icomoon.woff?-qhmb38') format('woff'),
		url('fonts/icomoon.svg?-qhmb38#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
	content: "\e60d";
}
.icon-credit-card:before {
	content: "\e609";
}
.icon-location:before {
	content: "\e602";
}
.icon-clock:before {
	content: "\e60e";
}
.icon-clock2:before {
	content: "\e616";
}
.icon-search:before {
	content: "\e605";
}
.icon-zoom-in:before {
	content: "\e606";
}
.icon-zoom-out:before {
	content: "\e607";
}
.icon-unlocked:before {
	content: "\e608";
}
.icon-spoon-knife:before {
	content: "\e617";
}
.icon-bookmark:before {
	content: "\e60a";
}
.icon-star-full:before {
	content: "\e60b";
}
.icon-cancel-circle:before {
	content: "\e60c";
}
.icon-cross:before {
	content: "\e618";
}
.icon-checkmark:before {
	content: "\e619";
}
.icon-play2:before {
	content: "\e60f";
}
.icon-circle-up:before {
	content: "\e610";
}
.icon-circle-right:before {
	content: "\e611";
}
.icon-circle-down:before {
	content: "\e612";
}
.icon-circle-left:before {
	content: "\e613";
}
.icon-facebook3:before {
	content: "\e614";
}
.icon-twitter3:before {
	content: "\e615";
}
.icon-lifebuoy:before {
	content: "\e600";
}
.icon-tv:before {
	content: "\e601";
}
.icon-quotes-right:before {
	content: "\e61a";
}
.icon-airplane:before {
	content: "\e603";
}
.icon-truck:before {
	content: "\e604";
}
