body{
    color: black;
}
.icon-star-full{
    margin-right: 0.2rem;
    color: #bca51d;
}
.active-page{
    background-color: #bca51d;
}

.tooltip-wrapper{
    cursor: help;
    position: relative;
    margin: 0.5em;
}
.tooltip{
    bottom: 100%;
    display: block;
    opacity: 0;
    padding: 1em;
    background-color: black;
    color: white;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid black 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

body.desktop .tooltip-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.photo-main > section{
    padding: 0;
}
.photo-wide{
    width: 100%;
    height: 400px;
    background: url("../static/rewal3.png") no-repeat center center;
    background-size: cover;
}
.sorting{
    height: 6em;
    position: relative;
}
.sorting h1{
    margin: 0;
    line-height: inherit;

}
.sorting > section{
    line-height: 6em;
}
.sorting > section:not(:nth-of-type(2)){
    text-align: center;
}
.sorting div{
    display: inline-flex;
    align-items: center;
}
.place{
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
.place:nth-of-type(2n+1){
    background-color: rgba(129,129,129,0.1) ;
}
.place:nth-of-type(2n){
    background-color: rgba(129,129,129,0.05) ;
}
.place > section{
    padding: 1.5em;
}
.place img{
    width: 100%;
}
.place button{
    width: 100%;
    height: auto;
    padding: 1em;
    background-color: #bca51d;
    color: white;
    border: none;
}
.place .button-wrapper{
    margin: 2em 0 2em 0;
    width: 80%;
}
.place article{
    padding-top: 1em;
}
.content-start{
    display: inline-block;
}
.content-subtitle, .score-desc, .cost-before, .cost-after span{
    color: rgba(129,129,129,0.8) ;
}
.content-title{
    margin-top: 0;
    margin-bottom: 0.2em;
}
.content-subtitle{
    margin-top: 0;
}
.content-subtitle span{
    text-transform: lowercase;
}
.content-text + a{
    float: right;
}
.icons > figure{
    border-right: 0.2em solid rgba(129,129,129,0.5);
    border-left: 0.2em solid rgba(129,129,129,0.5);
}
.icons > figure span{
    font-size: 2rem;
    display: block;
}
.score{
    margin: 0;
    color: #bca51d;
}
.score-desc{
    margin: 0;
}

.cost-before{
    margin-top: 1em;
    margin-bottom: 0.2em;
    text-decoration: line-through;
}
.cost-after{
    margin-top: 0;
    margin-bottom: 0.2em;
}
.cost-desc{
    margin-top: 0;
}

.pagination-nav{
    height: 5em;
    font-size: 1.2rem;
    padding: 1em;
    background-color: #427ca2;
    color: white;
}
.pagination-nav button{
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    border: none;
}
.pagination-nav button span+span{
    margin: 0.8rem;
}
.pagination-nav span[class^='icon']{
    font-size: 2rem;
}
.pagination-nav section:first-child button{
    float: right;
}
.pagination-nav section:nth-of-type(2) nav{
    height: 100%;
    text-align: center;
}
.pagination-nav section:nth-of-type(2) nav > a{
    display: inline-flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.2em;
    cursor: pointer;
}
.pagination-nav section div:last-child button{
    float: left;
}
@media (max-width: 768px) {
    html{font-size: 10px}
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
    h3 { font-size: 14px; }
    .nav-menu, .more, .photo
    {
        height: auto;
    }
    .nav-menu section {
        display: flex;
        justify-content: flex-start;
    }
    .sorting{
        height: 12em;
    }
    .sorting > section:first-child,
    .sorting > section:last-child{
        display: none;
    }
    .icons .tooltip-wrapper{
        display: inline-block;
    }
    .icons .tooltip{
        display: none;
    }
    .place > section:first-child,
    .place > section:last-child{
        display: none;
    }
    .pagination-desc{
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .sorting > section:first-child,
    .sorting > section:last-child{
        display: none;
    }
    .place > section:first-child,
    .place > section:last-child{
        display: none;
    }
}
@media (min-width: 993px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}