<section class="col-xs-12 col-sm-8 col-md-7">
    <nav>
        <a href="#" class="visible-anchor">Polityka Prywatności</a>
        <span>|</span>
        <a href="#" class="visible-anchor">Polityka Cookies</a>
        <span>|</span>
        <a href="#">Copyrights</a>
    </nav>
</section>
<section class="col-xs-4 col-sm-1 col-md-1"></section>
<section class="col-xs-8 col-sm-3 col-md-4">
    <div class="footer-icons">
        <span class="icon-facebook3"></span>
        <span class="icon-twitter3"></span>
    </div>
</section>