<section id="navMenu1" class="col-xs-8 col-sm-3 col-lg-2">
    <figure>
        <span class="icon-location"></span>
        <span><strong>Hipster</strong>Trip</span>
    </figure>
</section>
<section class="col-xs-12 col-sm-7 col-lg-8" id="menuItems">
    <nav>
        <a href="index.html" id="menuWhatIsThat"><span>Co to jest?</span></a>
        <a href="#news" id="menuNews"><span>Aktualności</span></a>
        <a href="subpage.html" id="menuPlaces"><span>Miejscówki</span></a>
        <a href="#contact" id="menuContact"><span>Kontakt</span></a>
    </nav>
</section>
<section id="navMenu3" class="col-xs-4 col-sm-2 col-lg-2">
    <div class="search-wrapper">
        <label for="navSearch"></label>
        <input placeholder="Szukaj..." id="navSearch">
        <span class="icon-search"></span>
    </div>
</section>