<nav class="col-xs-12">
    <a href="#">Zarejestruj się</a>
    <a href="#"><span class="icon-unlocked"></span><span>Zaloguj się</span></a>
    <a href="#"><span class="icon-facebook3"></span><span>Dołącz przez FB</span></a>
</nav>